<h1>Listing program_phase_lookups</h1>

<table>
  <thead>
    <tr>
      <th>Phase number</th>
      <th>Program type</th>
      <th>Phase</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @program_phase_lookups.each do |program_phase_lookup| %>
      <tr>
        <td><%= program_phase_lookup.phase_number %></td>
        <td><%= program_phase_lookup.program_type %></td>
        <td><%= program_phase_lookup.phase_id %></td>
        <td><%= link_to 'Show', program_phase_lookup %></td>
        <td><%= link_to 'Edit', edit_program_phase_lookup_path(program_phase_lookup) %></td>
        <td><%= link_to 'Destroy', program_phase_lookup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program phase lookup', new_program_phase_lookup_path %>
