<h1>Listing group_custom_exercises</h1>

<table>
  <thead>
    <tr>
      <th>Routine</th>
      <th>Details</th>
      <th>Status</th>
      <th>Name</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_custom_exercises.each do |group_custom_exercise| %>
      <tr>
        <td><%= group_custom_exercise.routine_id %></td>
        <td><%= group_custom_exercise.details %></td>
        <td><%= group_custom_exercise.status %></td>
        <td><%= group_custom_exercise.name %></td>
        <td><%= group_custom_exercise.type %></td>
        <td><%= link_to 'Show', group_custom_exercise %></td>
        <td><%= link_to 'Edit', edit_group_custom_exercise_path(group_custom_exercise) %></td>
        <td><%= link_to 'Destroy', group_custom_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group custom exercise', new_group_custom_exercise_path %>
