<p id="notice"><%= notice %></p>

<p>
  <strong>Routine:</strong>
  <%= @group_custom_exercise.routine_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @group_custom_exercise.details %>
</p>

<p>
  <strong>Status:</strong>
  <%= @group_custom_exercise.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group_custom_exercise.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @group_custom_exercise.type %>
</p>

<%= link_to 'Edit', edit_group_custom_exercise_path(@group_custom_exercise) %> |
<%= link_to 'Back', group_custom_exercises_path %>
