<h1>Listing group_joins</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_joins.each do |group_join| %>
      <tr>
        <td><%= group_join.group_id %></td>
        <td><%= group_join.user_id %></td>
        <td><%= link_to 'Show', group_join %></td>
        <td><%= link_to 'Edit', edit_group_join_path(group_join) %></td>
        <td><%= link_to 'Destroy', group_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group join', new_group_join_path %>
