<h1>Listing weight_sets</h1>

<table>
  <thead>
    <tr>
      <th>Set num</th>
      <th>Performed exercise</th>
      <th>Rec weight</th>
      <th>Rec reps</th>
      <th>Perf weight</th>
      <th>Perf reps</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_sets.each do |weight_set| %>
      <tr>
        <td><%= weight_set.set_num %></td>
        <td><%= weight_set.performed_exercise_id %></td>
        <td><%= weight_set.rec_weight %></td>
        <td><%= weight_set.rec_reps %></td>
        <td><%= weight_set.perf_weight %></td>
        <td><%= weight_set.perf_reps %></td>
        <td><%= link_to 'Show', weight_set %></td>
        <td><%= link_to 'Edit', edit_weight_set_path(weight_set) %></td>
        <td><%= link_to 'Destroy', weight_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weight set', new_weight_set_path %>
