<h1>Listing coach_accounts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Num accts</th>
      <th>Billing email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coach_accounts.each do |coach_account| %>
      <tr>
        <td><%= coach_account.user_id %></td>
        <td><%= coach_account.num_accts %></td>
        <td><%= coach_account.billing_email %></td>
        <td><%= link_to 'Show', coach_account %></td>
        <td><%= link_to 'Edit', edit_coach_account_path(coach_account) %></td>
        <td><%= link_to 'Destroy', coach_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach account', new_coach_account_path %>
