<h1>Listing one_rep_maxes</h1>

<table>
  <thead>
    <tr>
      <th>Rep</th>
      <th>Percentage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @one_rep_maxes.each do |one_rep_max| %>
      <tr>
        <td><%= one_rep_max.rep %></td>
        <td><%= one_rep_max.percentage %></td>
        <td><%= link_to 'Show', one_rep_max %></td>
        <td><%= link_to 'Edit', edit_one_rep_max_path(one_rep_max) %></td>
        <td><%= link_to 'Destroy', one_rep_max, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New One rep max', new_one_rep_max_path %>
