<p id="notice"><%= notice %></p>

<p>
  <strong>Rep:</strong>
  <%= @one_rep_max.rep %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @one_rep_max.percentage %>
</p>

<%= link_to 'Edit', edit_one_rep_max_path(@one_rep_max) %> |
<%= link_to 'Back', one_rep_maxes_path %>
