<h1>Listing sprint_detail_sequences</h1>

<table>
  <thead>
    <tr>
      <th>Sprint</th>
      <th>Detail num</th>
      <th>Order num</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sprint_detail_sequences.each do |sprint_detail_sequence| %>
      <tr>
        <td><%= sprint_detail_sequence.sprint_id %></td>
        <td><%= sprint_detail_sequence.detail_num %></td>
        <td><%= sprint_detail_sequence.order_num %></td>
        <td><%= link_to 'Show', sprint_detail_sequence %></td>
        <td><%= link_to 'Edit', edit_sprint_detail_sequence_path(sprint_detail_sequence) %></td>
        <td><%= link_to 'Destroy', sprint_detail_sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprint detail sequence', new_sprint_detail_sequence_path %>
