<p id="notice"><%= notice %></p>

<p>
  <strong>Sprint:</strong>
  <%= @sprint_detail_sequence.sprint_id %>
</p>

<p>
  <strong>Detail num:</strong>
  <%= @sprint_detail_sequence.detail_num %>
</p>

<p>
  <strong>Order num:</strong>
  <%= @sprint_detail_sequence.order_num %>
</p>

<%= link_to 'Edit', edit_sprint_detail_sequence_path(@sprint_detail_sequence) %> |
<%= link_to 'Back', sprint_detail_sequences_path %>
