<%= form_for(@group_performed_warmup) do |f| %>
  <% if @group_performed_warmup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_performed_warmup.errors.count, "error") %> prohibited this group_performed_warmup from being saved:</h2>

      <ul>
      <% @group_performed_warmup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :routine_id %><br>
    <%= f.number_field :routine_id %>
  </div>
  <div class="field">
    <%= f.label :warmup_id %><br>
    <%= f.number_field :warmup_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
