<p id="notice"><%= notice %></p>

<p>
  <strong>Program type:</strong>
  <%= @workout_schedule_suggestion.program_type %>
</p>

<p>
  <strong>Weight schedule:</strong>
  <%= @workout_schedule_suggestion.weight_schedule %>
</p>

<p>
  <strong>Program:</strong>
  <%= @workout_schedule_suggestion.program_id %>
</p>

<p>
  <strong>Num weight days:</strong>
  <%= @workout_schedule_suggestion.num_weight_days %>
</p>

<p>
  <strong>Num plyo days:</strong>
  <%= @workout_schedule_suggestion.num_plyo_days %>
</p>

<p>
  <strong>Num sprint days:</strong>
  <%= @workout_schedule_suggestion.num_sprint_days %>
</p>

<%= link_to 'Edit', edit_workout_schedule_suggestion_path(@workout_schedule_suggestion) %> |
<%= link_to 'Back', workout_schedule_suggestions_path %>
