<h1>Listing exercise_types</h1>

<table>
  <thead>
    <tr>
      <th>Type name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_types.each do |exercise_type| %>
      <tr>
        <td><%= exercise_type.type_name %></td>
        <td><%= link_to 'Show', exercise_type %></td>
        <td><%= link_to 'Edit', edit_exercise_type_path(exercise_type) %></td>
        <td><%= link_to 'Destroy', exercise_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise type', new_exercise_type_path %>
