<%= form_for(@lap) do |f| %>
  <% if @lap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lap.errors.count, "error") %> prohibited this lap from being saved:</h2>

      <ul>
      <% @lap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lap_number %><br>
    <%= f.number_field :lap_number %>
  </div>
  <div class="field">
    <%= f.label :performed_sprint_id %><br>
    <%= f.number_field :performed_sprint_id %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
