<h1>Listing performed_sprints</h1>

<table>
  <thead>
    <tr>
      <th>Sprint</th>
      <th>Status</th>
      <th>Group performed sprint</th>
      <th>Routine</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performed_sprints.each do |performed_sprint| %>
      <tr>
        <td><%= performed_sprint.sprint_id %></td>
        <td><%= performed_sprint.status %></td>
        <td><%= performed_sprint.group_performed_sprint_id %></td>
        <td><%= performed_sprint.routine_id %></td>
        <td><%= link_to 'Show', performed_sprint %></td>
        <td><%= link_to 'Edit', edit_performed_sprint_path(performed_sprint) %></td>
        <td><%= link_to 'Destroy', performed_sprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performed sprint', new_performed_sprint_path %>
