<p id="notice"><%= notice %></p>

<p>
  <strong>Master user:</strong>
  <%= @user.master_user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @user.administrator %>
</p>

<p>
  <strong>Sub user:</strong>
  <%= @user.sub_user %>
</p>

<p>
  <strong>Knee dom max:</strong>
  <%= @user.knee_dom_max %>
</p>

<p>
  <strong>Hor push max:</strong>
  <%= @user.hor_push_max %>
</p>

<p>
  <strong>Hor pull max:</strong>
  <%= @user.hor_pull_max %>
</p>

<p>
  <strong>Power index:</strong>
  <%= @user.power_index %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Current phase:</strong>
  <%= @user.current_phase %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Last weight day created:</strong>
  <%= @user.last_weight_day_created %>
</p>

<p>
  <strong>Last warmup day created:</strong>
  <%= @user.last_warmup_day_created %>
</p>

<p>
  <strong>Last plyometric day created:</strong>
  <%= @user.last_plyometric_day_created %>
</p>

<p>
  <strong>Last sprint day created:</strong>
  <%= @user.last_sprint_day_created %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Sprint diff:</strong>
  <%= @user.sprint_diff %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user.level %>
</p>

<p>
  <strong>Program type:</strong>
  <%= @user.program_type %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @user.birth_year %>
</p>

<p>
  <strong>Subscription date:</strong>
  <%= @user.subscription_date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
