<%= form_for(@user_schedule) do |f| %>
  <% if @user_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_schedule.errors.count, "error") %> prohibited this user_schedule from being saved:</h2>

      <ul>
      <% @user_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br>
    <%= f.number_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :program_type %><br>
    <%= f.number_field :program_type %>
  </div>
  <div class="field">
    <%= f.label :phase_one_start %><br>
    <%= f.date_select :phase_one_start %>
  </div>
  <div class="field">
    <%= f.label :phase_two_start %><br>
    <%= f.date_select :phase_two_start %>
  </div>
  <div class="field">
    <%= f.label :phase_three_start %><br>
    <%= f.date_select :phase_three_start %>
  </div>
  <div class="field">
    <%= f.label :phase_four_start %><br>
    <%= f.date_select :phase_four_start %>
  </div>
  <div class="field">
    <%= f.label :sign_up_date %><br>
    <%= f.date_select :sign_up_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
