<%= form_for(@program_day) do |f| %>
  <% if @program_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_day.errors.count, "error") %> prohibited this program_day from being saved:</h2>

      <ul>
      <% @program_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_enumeration %><br>
    <%= f.text_field :day_enumeration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
