<p id="notice"><%= notice %></p>

<p>
  <strong>Difficulty:</strong>
  <%= @sprint.difficulty %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Sprint type:</strong>
  <%= @sprint.sprint_type %>
</p>

<p>
  <strong>Num laps:</strong>
  <%= @sprint.num_laps %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
