<h1>Listing warmups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is stretch</th>
      <th>Video link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warmups.each do |warmup| %>
      <tr>
        <td><%= warmup.name %></td>
        <td><%= warmup.is_stretch %></td>
        <td><%= warmup.video_link %></td>
        <td><%= link_to 'Show', warmup %></td>
        <td><%= link_to 'Edit', edit_warmup_path(warmup) %></td>
        <td><%= link_to 'Destroy', warmup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warmup', new_warmup_path %>
