<h1>Listing performed_exercises</h1>

<table>
  <thead>
    <tr>
      <th>Routine</th>
      <th>Exercise</th>
      <th>Rest period</th>
      <th>Status</th>
      <th>One rep max</th>
      <th>Group performed exercise</th>
      <th>Exercise type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performed_exercises.each do |performed_exercise| %>
      <tr>
        <td><%= performed_exercise.routine_id %></td>
        <td><%= performed_exercise.exercise_id %></td>
        <td><%= performed_exercise.rest_period %></td>
        <td><%= performed_exercise.status %></td>
        <td><%= performed_exercise.one_rep_max %></td>
        <td><%= performed_exercise.group_performed_exercise_id %></td>
        <td><%= performed_exercise.exercise_type %></td>
        <td><%= link_to 'Show', performed_exercise %></td>
        <td><%= link_to 'Edit', edit_performed_exercise_path(performed_exercise) %></td>
        <td><%= link_to 'Destroy', performed_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performed exercise', new_performed_exercise_path %>
