<p id="notice"><%= notice %></p>

<p>
  <strong>Routine:</strong>
  <%= @performed_exercise.routine_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @performed_exercise.exercise_id %>
</p>

<p>
  <strong>Rest period:</strong>
  <%= @performed_exercise.rest_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @performed_exercise.status %>
</p>

<p>
  <strong>One rep max:</strong>
  <%= @performed_exercise.one_rep_max %>
</p>

<p>
  <strong>Group performed exercise:</strong>
  <%= @performed_exercise.group_performed_exercise_id %>
</p>

<p>
  <strong>Exercise type:</strong>
  <%= @performed_exercise.exercise_type %>
</p>

<%= link_to 'Edit', edit_performed_exercise_path(@performed_exercise) %> |
<%= link_to 'Back', performed_exercises_path %>
