<h1>Listing group_performed_exercises</h1>

<table>
  <thead>
    <tr>
      <th>Performed exercise</th>
      <th>Routine</th>
      <th>Exercise</th>
      <th>Status</th>
      <th>Exercise type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_performed_exercises.each do |group_performed_exercise| %>
      <tr>
        <td><%= group_performed_exercise.performed_exercise_id %></td>
        <td><%= group_performed_exercise.routine_id %></td>
        <td><%= group_performed_exercise.exercise_id %></td>
        <td><%= group_performed_exercise.status %></td>
        <td><%= group_performed_exercise.exercise_type %></td>
        <td><%= link_to 'Show', group_performed_exercise %></td>
        <td><%= link_to 'Edit', edit_group_performed_exercise_path(group_performed_exercise) %></td>
        <td><%= link_to 'Destroy', group_performed_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group performed exercise', new_group_performed_exercise_path %>
