<%= form_for(@weekly_schedule_day) do |f| %>
  <% if @weekly_schedule_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_schedule_day.errors.count, "error") %> prohibited this weekly_schedule_day from being saved:</h2>

      <ul>
      <% @weekly_schedule_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :user_schedule_id %><br>
    <%= f.number_field :user_schedule_id %>
  </div>
  <div class="field">
    <%= f.label :weights %><br>
    <%= f.check_box :weights %>
  </div>
  <div class="field">
    <%= f.label :plyometrics %><br>
    <%= f.check_box :plyometrics %>
  </div>
  <div class="field">
    <%= f.label :stretching %><br>
    <%= f.check_box :stretching %>
  </div>
  <div class="field">
    <%= f.label :sprinting %><br>
    <%= f.check_box :sprinting %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
