<h1>Listing weekly_schedule_days</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>User schedule</th>
      <th>Weights</th>
      <th>Plyometrics</th>
      <th>Stretching</th>
      <th>Sprinting</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_schedule_days.each do |weekly_schedule_day| %>
      <tr>
        <td><%= weekly_schedule_day.day %></td>
        <td><%= weekly_schedule_day.user_schedule_id %></td>
        <td><%= weekly_schedule_day.weights %></td>
        <td><%= weekly_schedule_day.plyometrics %></td>
        <td><%= weekly_schedule_day.stretching %></td>
        <td><%= weekly_schedule_day.sprinting %></td>
        <td><%= link_to 'Show', weekly_schedule_day %></td>
        <td><%= link_to 'Edit', edit_weekly_schedule_day_path(weekly_schedule_day) %></td>
        <td><%= link_to 'Destroy', weekly_schedule_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly schedule day', new_weekly_schedule_day_path %>
