<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @weekly_schedule_day.day %>
</p>

<p>
  <strong>User schedule:</strong>
  <%= @weekly_schedule_day.user_schedule_id %>
</p>

<p>
  <strong>Weights:</strong>
  <%= @weekly_schedule_day.weights %>
</p>

<p>
  <strong>Plyometrics:</strong>
  <%= @weekly_schedule_day.plyometrics %>
</p>

<p>
  <strong>Stretching:</strong>
  <%= @weekly_schedule_day.stretching %>
</p>

<p>
  <strong>Sprinting:</strong>
  <%= @weekly_schedule_day.sprinting %>
</p>

<%= link_to 'Edit', edit_weekly_schedule_day_path(@weekly_schedule_day) %> |
<%= link_to 'Back', weekly_schedule_days_path %>
