<%= form_for(@group_routine) do |f| %>
  <% if @group_routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_routine.errors.count, "error") %> prohibited this group_routine from being saved:</h2>

      <ul>
      <% @group_routine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :day_performed %><br>
    <%= f.date_select :day_performed %>
  </div>
  <div class="field">
    <%= f.label :program_day_id %><br>
    <%= f.number_field :program_day_id %>
  </div>
  <div class="field">
    <%= f.label :wt_day_id %><br>
    <%= f.number_field :wt_day_id %>
  </div>
  <div class="field">
    <%= f.label :sp_day_id %><br>
    <%= f.number_field :sp_day_id %>
  </div>
  <div class="field">
    <%= f.label :pl_day_id %><br>
    <%= f.number_field :pl_day_id %>
  </div>
  <div class="field">
    <%= f.label :wu_day_id %><br>
    <%= f.number_field :wu_day_id %>
  </div>
  <div class="field">
    <%= f.label :modified %><br>
    <%= f.check_box :modified %>
  </div>
  <div class="field">
    <%= f.label :pl_modified %><br>
    <%= f.check_box :pl_modified %>
  </div>
  <div class="field">
    <%= f.label :wt_modified %><br>
    <%= f.check_box :wt_modified %>
  </div>
  <div class="field">
    <%= f.label :wu_modified %><br>
    <%= f.check_box :wu_modified %>
  </div>
  <div class="field">
    <%= f.label :sp_modified %><br>
    <%= f.check_box :sp_modified %>
  </div>
  <div class="field">
    <%= f.label :changes_saved %><br>
    <%= f.check_box :changes_saved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
