<h1>Listing group_routines</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Day performed</th>
      <th>Program day</th>
      <th>Wt day</th>
      <th>Sp day</th>
      <th>Pl day</th>
      <th>Wu day</th>
      <th>Modified</th>
      <th>Pl modified</th>
      <th>Wt modified</th>
      <th>Wu modified</th>
      <th>Sp modified</th>
      <th>Changes saved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_routines.each do |group_routine| %>
      <tr>
        <td><%= group_routine.group_id %></td>
        <td><%= group_routine.day_performed %></td>
        <td><%= group_routine.program_day_id %></td>
        <td><%= group_routine.wt_day_id %></td>
        <td><%= group_routine.sp_day_id %></td>
        <td><%= group_routine.pl_day_id %></td>
        <td><%= group_routine.wu_day_id %></td>
        <td><%= group_routine.modified %></td>
        <td><%= group_routine.pl_modified %></td>
        <td><%= group_routine.wt_modified %></td>
        <td><%= group_routine.wu_modified %></td>
        <td><%= group_routine.sp_modified %></td>
        <td><%= group_routine.changes_saved %></td>
        <td><%= link_to 'Show', group_routine %></td>
        <td><%= link_to 'Edit', edit_group_routine_path(group_routine) %></td>
        <td><%= link_to 'Destroy', group_routine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group routine', new_group_routine_path %>
