<%= form_for(@program_day_sequence) do |f| %>
  <% if @program_day_sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_day_sequence.errors.count, "error") %> prohibited this program_day_sequence from being saved:</h2>

      <ul>
      <% @program_day_sequence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_id %><br>
    <%= f.number_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :number_of_days %><br>
    <%= f.number_field :number_of_days %>
  </div>
  <div class="field">
    <%= f.label :one %><br>
    <%= f.number_field :one %>
  </div>
  <div class="field">
    <%= f.label :two %><br>
    <%= f.number_field :two %>
  </div>
  <div class="field">
    <%= f.label :three %><br>
    <%= f.number_field :three %>
  </div>
  <div class="field">
    <%= f.label :four %><br>
    <%= f.number_field :four %>
  </div>
  <div class="field">
    <%= f.label :five %><br>
    <%= f.number_field :five %>
  </div>
  <div class="field">
    <%= f.label :six %><br>
    <%= f.number_field :six %>
  </div>
  <div class="field">
    <%= f.label :seven %><br>
    <%= f.number_field :seven %>
  </div>
  <div class="field">
    <%= f.label :eight %><br>
    <%= f.number_field :eight %>
  </div>
  <div class="field">
    <%= f.label :nine %><br>
    <%= f.number_field :nine %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.number_field :ten %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
