<h1>Listing program_day_sequences</h1>

<table>
  <thead>
    <tr>
      <th>Program</th>
      <th>Number of days</th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @program_day_sequences.each do |program_day_sequence| %>
      <tr>
        <td><%= program_day_sequence.program_id %></td>
        <td><%= program_day_sequence.number_of_days %></td>
        <td><%= program_day_sequence.one %></td>
        <td><%= program_day_sequence.two %></td>
        <td><%= program_day_sequence.three %></td>
        <td><%= program_day_sequence.four %></td>
        <td><%= program_day_sequence.five %></td>
        <td><%= program_day_sequence.six %></td>
        <td><%= program_day_sequence.seven %></td>
        <td><%= program_day_sequence.eight %></td>
        <td><%= program_day_sequence.nine %></td>
        <td><%= program_day_sequence.ten %></td>
        <td><%= link_to 'Show', program_day_sequence %></td>
        <td><%= link_to 'Edit', edit_program_day_sequence_path(program_day_sequence) %></td>
        <td><%= link_to 'Destroy', program_day_sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program day sequence', new_program_day_sequence_path %>
