<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= @program_day_sequence.program_id %>
</p>

<p>
  <strong>Number of days:</strong>
  <%= @program_day_sequence.number_of_days %>
</p>

<p>
  <strong>One:</strong>
  <%= @program_day_sequence.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @program_day_sequence.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @program_day_sequence.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @program_day_sequence.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @program_day_sequence.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @program_day_sequence.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @program_day_sequence.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @program_day_sequence.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @program_day_sequence.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @program_day_sequence.ten %>
</p>

<%= link_to 'Edit', edit_program_day_sequence_path(@program_day_sequence) %> |
<%= link_to 'Back', program_day_sequences_path %>
