<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daily_routine.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @daily_routine.group_id %>
</p>

<p>
  <strong>Day performed:</strong>
  <%= @daily_routine.day_performed %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @daily_routine.weight %>
</p>

<p>
  <strong>Power index:</strong>
  <%= @daily_routine.power_index %>
</p>

<p>
  <strong>Count ex provided:</strong>
  <%= @daily_routine.count_ex_provided %>
</p>

<p>
  <strong>Count ex completed:</strong>
  <%= @daily_routine.count_ex_completed %>
</p>

<p>
  <strong>Program day:</strong>
  <%= @daily_routine.program_day_id %>
</p>

<p>
  <strong>Wt day:</strong>
  <%= @daily_routine.wt_day_id %>
</p>

<p>
  <strong>Sp day:</strong>
  <%= @daily_routine.sp_day_id %>
</p>

<p>
  <strong>Pl day:</strong>
  <%= @daily_routine.pl_day_id %>
</p>

<p>
  <strong>Wu day:</strong>
  <%= @daily_routine.wu_day_id %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @daily_routine.modified %>
</p>

<p>
  <strong>Pl modified:</strong>
  <%= @daily_routine.pl_modified %>
</p>

<p>
  <strong>Wt modified:</strong>
  <%= @daily_routine.wt_modified %>
</p>

<p>
  <strong>Wu modified:</strong>
  <%= @daily_routine.wu_modified %>
</p>

<p>
  <strong>Sp modified:</strong>
  <%= @daily_routine.sp_modified %>
</p>

<p>
  <strong>Changes saved:</strong>
  <%= @daily_routine.changes_saved %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @daily_routine.closed %>
</p>

<%= link_to 'Edit', edit_daily_routine_path(@daily_routine) %> |
<%= link_to 'Back', daily_routines_path %>
