<%= form_for(@sign_up_code) do |f| %>
  <% if @sign_up_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_up_code.errors.count, "error") %> prohibited this sign_up_code from being saved:</h2>

      <ul>
      <% @sign_up_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
