<h1>Listing sign_up_codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>User</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_up_codes.each do |sign_up_code| %>
      <tr>
        <td><%= sign_up_code.code %></td>
        <td><%= sign_up_code.user_id %></td>
        <td><%= sign_up_code.email %></td>
        <td><%= link_to 'Show', sign_up_code %></td>
        <td><%= link_to 'Edit', edit_sign_up_code_path(sign_up_code) %></td>
        <td><%= link_to 'Destroy', sign_up_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign up code', new_sign_up_code_path %>
