<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sign_up_code.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @sign_up_code.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sign_up_code.email %>
</p>

<%= link_to 'Edit', edit_sign_up_code_path(@sign_up_code) %> |
<%= link_to 'Back', sign_up_codes_path %>
