<%= form_for(@user_max) do |f| %>
  <% if @user_max.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_max.errors.count, "error") %> prohibited this user_max from being saved:</h2>

      <ul>
      <% @user_max.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.text_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
