<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sent_code.code %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @sent_code.receiver %>
</p>

<p>
  <strong>Used:</strong>
  <%= @sent_code.used %>
</p>

<%= link_to 'Edit', edit_sent_code_path(@sent_code) %> |
<%= link_to 'Back', sent_codes_path %>
