<%= form_for(@day_exercise) do |f| %>
  <% if @day_exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_exercise.errors.count, "error") %> prohibited this day_exercise from being saved:</h2>

      <ul>
      <% @day_exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_day_id %><br>
    <%= f.number_field :program_day_id %>
  </div>
  <div class="field">
    <%= f.label :ex_type %><br>
    <%= f.number_field :ex_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
