<h1>Listing day_exercises</h1>

<table>
  <thead>
    <tr>
      <th>Program day</th>
      <th>Ex type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @day_exercises.each do |day_exercise| %>
      <tr>
        <td><%= day_exercise.program_day_id %></td>
        <td><%= day_exercise.ex_type %></td>
        <td><%= link_to 'Show', day_exercise %></td>
        <td><%= link_to 'Edit', edit_day_exercise_path(day_exercise) %></td>
        <td><%= link_to 'Destroy', day_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day exercise', new_day_exercise_path %>
