<p id="notice"><%= notice %></p>

<p>
  <strong>Program day:</strong>
  <%= @day_exercise.program_day_id %>
</p>

<p>
  <strong>Ex type:</strong>
  <%= @day_exercise.ex_type %>
</p>

<%= link_to 'Edit', edit_day_exercise_path(@day_exercise) %> |
<%= link_to 'Back', day_exercises_path %>
