<%= form_for(@pod_invite) do |f| %>
  <% if @pod_invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pod_invite.errors.count, "error") %> prohibited this pod_invite from being saved:</h2>

      <ul>
      <% @pod_invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inviter %><br>
    <%= f.number_field :inviter %>
  </div>
  <div class="field">
    <%= f.label :sent_to %><br>
    <%= f.text_field :sent_to %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :invitee %><br>
    <%= f.number_field :invitee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
