<h1>Listing pod_invites</h1>

<table>
  <thead>
    <tr>
      <th>Inviter</th>
      <th>Sent to</th>
      <th>Status</th>
      <th>Invitee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pod_invites.each do |pod_invite| %>
      <tr>
        <td><%= pod_invite.inviter %></td>
        <td><%= pod_invite.sent_to %></td>
        <td><%= pod_invite.status %></td>
        <td><%= pod_invite.invitee %></td>
        <td><%= link_to 'Show', pod_invite %></td>
        <td><%= link_to 'Edit', edit_pod_invite_path(pod_invite) %></td>
        <td><%= link_to 'Destroy', pod_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pod invite', new_pod_invite_path %>
