<h1>Listing custom_exercises</h1>

<table>
  <thead>
    <tr>
      <th>Rid</th>
      <th>Details</th>
      <th>Status</th>
      <th>Gid</th>
      <th>Name</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_exercises.each do |custom_exercise| %>
      <tr>
        <td><%= custom_exercise.rid %></td>
        <td><%= custom_exercise.details %></td>
        <td><%= custom_exercise.status %></td>
        <td><%= custom_exercise.gid %></td>
        <td><%= custom_exercise.name %></td>
        <td><%= custom_exercise.type %></td>
        <td><%= link_to 'Show', custom_exercise %></td>
        <td><%= link_to 'Edit', edit_custom_exercise_path(custom_exercise) %></td>
        <td><%= link_to 'Destroy', custom_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom exercise', new_custom_exercise_path %>
