<p id="notice"><%= notice %></p>

<p>
  <strong>Rid:</strong>
  <%= @custom_exercise.rid %>
</p>

<p>
  <strong>Details:</strong>
  <%= @custom_exercise.details %>
</p>

<p>
  <strong>Status:</strong>
  <%= @custom_exercise.status %>
</p>

<p>
  <strong>Gid:</strong>
  <%= @custom_exercise.gid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @custom_exercise.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @custom_exercise.type %>
</p>

<%= link_to 'Edit', edit_custom_exercise_path(@custom_exercise) %> |
<%= link_to 'Back', custom_exercises_path %>
