<h1>Listing performed_plyometrics</h1>

<table>
  <thead>
    <tr>
      <th>Plyometric</th>
      <th>Routine</th>
      <th>Status</th>
      <th>Group performed plyometric</th>
      <th>Performed one</th>
      <th>Performed two</th>
      <th>Performed three</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performed_plyometrics.each do |performed_plyometric| %>
      <tr>
        <td><%= performed_plyometric.plyometric_id %></td>
        <td><%= performed_plyometric.routine_id %></td>
        <td><%= performed_plyometric.status %></td>
        <td><%= performed_plyometric.group_performed_plyometric_id %></td>
        <td><%= performed_plyometric.performed_one %></td>
        <td><%= performed_plyometric.performed_two %></td>
        <td><%= performed_plyometric.performed_three %></td>
        <td><%= link_to 'Show', performed_plyometric %></td>
        <td><%= link_to 'Edit', edit_performed_plyometric_path(performed_plyometric) %></td>
        <td><%= link_to 'Destroy', performed_plyometric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performed plyometric', new_performed_plyometric_path %>
