<p id="notice"><%= notice %></p>

<p>
  <strong>Plyometric:</strong>
  <%= @performed_plyometric.plyometric_id %>
</p>

<p>
  <strong>Routine:</strong>
  <%= @performed_plyometric.routine_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @performed_plyometric.status %>
</p>

<p>
  <strong>Group performed plyometric:</strong>
  <%= @performed_plyometric.group_performed_plyometric_id %>
</p>

<p>
  <strong>Performed one:</strong>
  <%= @performed_plyometric.performed_one %>
</p>

<p>
  <strong>Performed two:</strong>
  <%= @performed_plyometric.performed_two %>
</p>

<p>
  <strong>Performed three:</strong>
  <%= @performed_plyometric.performed_three %>
</p>

<%= link_to 'Edit', edit_performed_plyometric_path(@performed_plyometric) %> |
<%= link_to 'Back', performed_plyometrics_path %>
