<%= form_for(@phase) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :male_power_sets %><br>
    <%= f.number_field :male_power_sets %>
  </div>
  <div class="field">
    <%= f.label :male_power_reps %><br>
    <%= f.number_field :male_power_reps %>
  </div>
  <div class="field">
    <%= f.label :male_other_sets %><br>
    <%= f.number_field :male_other_sets %>
  </div>
  <div class="field">
    <%= f.label :male_other_reps %><br>
    <%= f.number_field :male_other_reps %>
  </div>
  <div class="field">
    <%= f.label :fem_power_sets %><br>
    <%= f.number_field :fem_power_sets %>
  </div>
  <div class="field">
    <%= f.label :fem_power_reps %><br>
    <%= f.number_field :fem_power_reps %>
  </div>
  <div class="field">
    <%= f.label :fem_other_sets %><br>
    <%= f.number_field :fem_other_sets %>
  </div>
  <div class="field">
    <%= f.label :fem_other_reps %><br>
    <%= f.number_field :fem_other_reps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
