<p id="notice"><%= notice %></p>

<p>
  <strong>Male power sets:</strong>
  <%= @phase.male_power_sets %>
</p>

<p>
  <strong>Male power reps:</strong>
  <%= @phase.male_power_reps %>
</p>

<p>
  <strong>Male other sets:</strong>
  <%= @phase.male_other_sets %>
</p>

<p>
  <strong>Male other reps:</strong>
  <%= @phase.male_other_reps %>
</p>

<p>
  <strong>Fem power sets:</strong>
  <%= @phase.fem_power_sets %>
</p>

<p>
  <strong>Fem power reps:</strong>
  <%= @phase.fem_power_reps %>
</p>

<p>
  <strong>Fem other sets:</strong>
  <%= @phase.fem_other_sets %>
</p>

<p>
  <strong>Fem other reps:</strong>
  <%= @phase.fem_other_reps %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
