<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise type:</strong>
  <%= @tip.exercise_type %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @tip.tip %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @tip.exercise_id %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
