<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/bootstrap.min.css' />
  <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/full-page.css' />
  <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/style.css' />
  <%= yield :head %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <img src="https://s3.amazonaws.com/quadfit/logo-dark.png" />
      </div>
    </div>

    <%= yield %>
  </div>
</body>
</html>